<header id="main">
   
    <div class="container">
    
    <p class="copyright">ⓒ kwontaeuk</p>
    
   <div class="rpw">
       <p>캡짱 디자이너 권태욱</p>
        
            <svg width="4.3vw" height="4.3vw" viewBox="0 0 29 17" 
                    version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <g id="768-main" transform="translate(-712.000000, -43.000000)" stroke="#444444" stroke-width="3">
                        <g id="Group" transform="translate(714.000000, 43.000000)">
                            <path d="M0.358452691,1.5 L25.4603805,1.5" id="Line"></path>
                            <path d="M0.358452691,8.5 L25.4603805,8.5" id="Line-Copy"></path>
                            <path d="M0.358452691,15.5 L25.4603805,15.5" id="Line-Copy-2"></path>
                        </g>
                    </g>
                </g>
            </svg>   
   </div>
    
    
    <div class="title">
    
    <h1>캡짱 디자이너
    
    <div class="line"><hr></div>
    
    <a href="/home/about">권태욱</a>
    
    </h1>
    
    </div>

   <div class="nav-wrapper">
   
    <p class="email">Kwon Taeuk / Designer, Korea, 1994<br>
kwontw6954@gmail.com</p>

    <nav>
        <ul>
            <li><a href="/home/about.html">Profile</a></li>
            <li><a href="#works">Works</a></li>
            <li><a href="http://rainyyseason.blog.me/" target="blank">Blog</a></li>
        </ul>
    </nav>
    
    </div>
   
</div>

</header>


<section id="works">

 <div class="container">
      
       <h2>works</h2>
       
    <div class="contents">
          <%#not working, 명시적인 부분템플릿만 가능 = render 'posts/index' %>
          <%= render :file => '/posts/index' %>

    </div>
    
        <a href="#main" class="back_to_top">메인으로 돌아가기</a> 
    
    
    
    
</div> 

</section>