<section id="show">
    
    <div class="container">
    
        <div class="post_category">
        <%= @post.category %>
        </div>
        
        <div class="post_title">
        <%= @post.title %>
        </div>
    
        <hr>
    
        <div class="post_content">
        <%= @post.content %>
        </div>
    
    
        <div class="image">
        
        <% if @post.avatar.exists? %>
        <img src="<%= @post.avatar.url %>" style="width:30vw;">
        <% end %>
        
        </div>
    
    </div>

</section>
